#clickin{
    width: 200px;
    display:flex;
    margin:0 auto;
}
#startbutton{
    height: 50px;
    width: 200px;
    position: absolute;
    left: 42%;
    top: 50%;
    color: #fff;
    background-color: darkcyan;
    border-radius:50px;
}
#startbutton:hover{
    transform: scale(1.05);
}
#startbutton:active{
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
}
